@import '../styles/variables.scss';

.experienceSection {
    padding: 2rem;
    width: 100%;
}

.sectionTitle {
    font-size: 1.25rem;
    font-weight: 700;
    color: $text-primary;
    margin-bottom: 1.5rem;
    padding-bottom: 0.75rem;
    border-bottom: 3px solid $brand-pink;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
}